.home {
}
.home_content {
  background-image: url("./images/drop.jpg");
  color: white;
  padding: 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.hero_des {
  font-size: 12px;
  margin-top: 15px;
}
.home_des {
  color: #65ff00;
}
.card_title {
  font-size: 12px;
  font-weight: bold;
}
.card_des {
  font-size: 10px;
}
.home_card {
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  position: absolute;
  top: 365px;
  color: black;
  box-shadow: 0px 0px 100px 5px rgb(141, 140, 140);
  transform: translateX(12%);
}
@media screen and (max-width: 576px) {
  .home_card {
    flex-direction: column;
    bottom: -300px;
  }
  .home_content {
    height: 700px !important ;
  }
}
