.banner_content {
  background-image: url("./images/wood.jpg");
  color: white;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_div {
  width: 238px;
  margin: auto;
  margin-top: 30px;
}
.button {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.3s;
}
.button:hover {
  background-color: #4253ed;
  color: black !important;
}
